@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/*
  Variables for easy customisation of theme are created here.
  They're stored as a list of rgb values to allow for application of an alpha channel.
  Unfortunately this means that the var call has to be wrapped in an rgb call to convert to a colour.
 */
:root {
  --background-color: 241, 241, 241;
  --highlight-color: 148, 0, 211;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Merriweather", serif;
  color: #444455;
}

body {
  background-color: rgb(var(--background-color));
}

a {
  color: rgb(var(--highlight-color));
  text-decoration: none;
}

h3 {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  background-color: rgba(var(--background-color), 0.9);
  background-image: url(../files/nav-background.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.nav-container aside {
  display: none;
}

nav a {
  display: inline-block;
  margin: 0 2vw 0 2vw;
  padding: 2px 1vw 2px 1vw;
  min-width: 8vw;
  text-align: center;
  background-color: rgba(var(--background-color), 0.5);
  font-size: small;
  border-left: 1px solid rgba(var(--highlight-color), 0.6);
  border-bottom: 1px solid rgba(var(--highlight-color), 0.6);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

#title {
  font-size: 200%;
  margin-left: 2vw;
}

/* Highlight currently open page in Nav */
.current {
  background-color: rgb(var(--highlight-color));
  color: rgb(var(--background-color));
}

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.content {
  margin: 0 5% 0 5%;
  width: 90%;
  background-color: rgb(var(--background-color));
  padding-top: calc(15vh + 1.5em);
}

.portrait {
  width: 60vw;
  margin-right: 15vw;
  margin-bottom: 1em;
  margin-left: 15vw;
  /* Scales to maintain aspect ratio */
  object-fit: contain;
}

.content h3 {
  width: 90%;
  margin: 0 5% 0.5em 5%;
  font-size: 1.5em;
}

.content p {
  line-height: 1.5;
  margin-bottom: 1em;
  width: 90%;
  padding: 0 5% 0 5%;
}

.contact {
  float: left;
  /* Using calc to ensure consistent styling */
  margin: 0 5% 0 5%;
  width: 90%;
  padding-top: 2em;
  text-align: center;
}

.contact p {
  padding-bottom: 1em;
  padding-left: 5%;
}

.contact h3 {
  padding-bottom: 1em;
}

/* Formatting logos to float beside eachother */
.lir-logo {
  float: left;
  width: 30%;
  margin-top: 1em;
  margin-left: 10%;
}

.trinity-logo {
  float: right;
  width: 30%;
  margin-top: 1em;
  margin-right: 10%;
}

.reference {
  font-size: small;
}

.project {
  margin-bottom: 2em;
}

.project img {
  width: 50%;
  border: 1px solid black;
  margin-left: 25%;
}

.project .description {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.twitter-timeline {
  margin-left: 5%;
}

/* Media query for Desktop */
@media only screen and (min-width: 992px) {
  header {
    height: 25vh;
  }

  h3 {
    text-align: left;
  }

  .nav-container aside {
    display: block;
    margin: 0 0 4vh 2vw;
    font-size: 120%;
  }

  .content {
    float: left;
    width: 70%;
    background-color: var(--background-color);
    margin: 0;
    padding-top: calc(25vh + 1.5em);
    padding-bottom: 2em;
  }

  .content p {
    text-align: justify;
  }

  .contact {
    text-align: left;
    float: right;
    width: calc(30% - 2px);
    margin: 0;
    padding-top: calc(25vh + 1.5em);
    border-left: 1px solid rgba(var(--highlight-color), 0.3);
  }

  .contact h3 {
    padding-left: 5%;
  }

  .portrait {
    width: 30%;
    margin-right: 10%;
    margin-bottom: 1em;
    margin-left: 10%;
    float: left;
  }

  .intro {
    font-size: 1.2em;
  }

  .lir-logo {
    width: 20%;
    margin-top: 1em;
    margin-left: 27.5%;
  }

  .trinity-logo {
    width: 20%;
    margin-top: 1em;
    margin-right: 27.5%;
  }

  .project {
    float: left;
    margin-bottom: 1em;
  }

  .project img {
    float: left;
    width: 10%;
    margin-left: calc(10% - 2px);
  }

  .project .description {
    float: right;
    width: 75%;
    margin-left: 0;
    margin-right: 5%;
  }
}
