/* Using @import to load required Google Font */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/*
  Variables for easy customisation of theme are created here.
  They're stored as a list of rgb values to allow for application of an alpha channel.
  Unfortunately this means that the var call has to be wrapped in an rgb call to convert to a colour.
  As also discussed in TESTING this throws a validator error, although still results in the desired behaviour.
 */
:root {
  --background-color: 255, 255, 240;
  --highlight-color: 47, 80, 97;
}

* {
  margin: 0;
  padding: 0;

  /* A serif font is used to evoke academia */
  font-family: "Merriweather", serif;
  color: #0e1318;
}

body {
  /* As is seen here whereever the background or highlight colour is applied a var call has to be also wrapped in an rbg CSS function */
  background-color: rgb(var(--background-color));
}

a {
  color: rgb(var(--highlight-color));
  text-decoration: none;
}

h3 {
  text-align: center;
}

/* The header is given a fixed position to have it positioned consistantly across all pages */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  background-color: rgba(var(--background-color), 0.9);
  background-image: url(../images/nav-background.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* On portait displays the aside in the header is not displayed to prevent clutter */
.nav-container aside {
  display: none;
}

nav a {
  display: inline-block;
  margin: 0 2vw 0 2vw;
  padding: 2px 1vw 2px 1vw;
  min-width: 8vw;
  text-align: center;
  background-color: rgba(var(--background-color), 0.5);
  font-size: small;
  border-left: 1px solid rgba(var(--highlight-color), 0.6);
  border-bottom: 1px solid rgba(var(--highlight-color), 0.6);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

#title {
  font-size: 200%;
  margin-left: 2vw;
}

/* Highlight currently open page in Nav */
.current {
  background-color: rgb(var(--highlight-color));
  color: rgb(var(--background-color));
}

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Using a portrait display as the default the content class is displayed in DOM order above .contact */
.content {
  margin: 0 5% 0 5%;
  width: 90%;
  background-color: rgb(var(--background-color));
  padding-top: calc(15vh + 1.5em);
}

/* The portrait class is applied to the self portrait in index.html */
.portrait {
  width: 60vw;
  margin-right: 15vw;
  margin-bottom: 1em;
  margin-left: 15vw;
  /* Scales to maintain aspect ratio */
  object-fit: contain;
}

.content h3 {
  width: 90%;
  margin: 0 5% 0.5em 5%;
  font-size: 1.5em;
}

.content p {
  line-height: 1.5;
  margin-bottom: 1em;
  width: 90%;
  padding: 0 5% 0 5%;
}

/* On portrait displays the contact panel is floated left to ensure it doesn't interact with other floated elements */
.contact {
  float: left;
  margin: 0 5% 0 5%;
  width: 90%;
  padding-top: 2em;
  text-align: center;
}

.contact p {
  padding-bottom: 1em;
  padding-left: 5%;
}

.contact h3 {
  padding-bottom: 1em;
}

/* Formatting logos to float beside eachother */
.lir-logo {
  float: left;
  width: 30%;
  margin-top: 1em;
  margin-left: 10%;
}

.trinity-logo {
  float: right;
  width: 30%;
  margin-top: 1em;
  margin-right: 10%;
}

/* The reference class is used to shrink text on the publications and blogs pages */
.reference {
  font-size: small;
}

.project {
  margin-bottom: 2em;
}

/* Project images on portrait displays are centered above their descriptions */
.project img {
  width: 50%;
  border: 1px solid rgb(var(--highlight-color));
  margin-left: 25%;
}

.project .description {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.twitter-timeline {
  margin-left: 5%;
}

/* Media query for Desktop */
@media only screen and (min-width: 992px) {
  header {
    height: 25vh;
  }

  h3 {
    text-align: left;
  }

  header nav {
    margin-right: calc(30% - 2px);
  }

  /* The header's short blurb is shown on widescreen where it has room to display comfortably */
  .nav-container aside {
    display: block;
    margin: 0 0 4vh 2vw;
    font-size: 120%;
  }

  /* On widescreen displays the content panel is floated left and sized to take up the primary part of the page */
  .content {
    float: left;
    width: 70%;
    background-color: var(--background-color);
    margin: 0;
    padding-top: calc(25vh + 1.5em);
    padding-bottom: 2em;
  }

  .content p {
    text-align: justify;
  }

  /* On widescreen displays the contact panel is placed to the right and sized to not distract from the pages primary purpose but be easily accessible */
  .contact {
    text-align: left;
    float: right;
    width: calc(30% - 2px);
    margin: 0;
    padding-top: calc(25vh + 1.5em);
    border-left: 1px solid rgba(var(--highlight-color), 0.3);
  }

  .contact h3 {
    padding-left: 5%;
  }

  .portrait {
    width: 30%;
    margin-right: 10%;
    margin-bottom: 1em;
    margin-left: 10%;
    float: left;
  }

  .intro {
    font-size: 1.2em;
  }

  .lir-logo {
    width: 20%;
    margin-top: 1em;
    margin-left: 27.5%;
  }

  .trinity-logo {
    width: 20%;
    margin-top: 1em;
    margin-right: 27.5%;
  }

  /* On widescreen displays the projects themselves are floated to list nicely */
  .project {
    float: left;
    margin-bottom: 1em;
  }

  /* Within the projects container div the logo and description are floated to be beside eachother preserving strong coupling of information */
  .project img {
    float: left;
    width: 10%;
    margin-left: calc(10% - 2px);
  }

  .project .description {
    float: right;
    width: 75%;
    margin-left: 0;
    margin-right: 5%;
  }
}
